<template>
  <div>
    <button @click="goToPage('Home')">Go to Home</button>
    <button @click="goToPage('About')">Go to About</button>
    <button @click="goToPage('Contact')">Go to Contact</button>

    <div v-if="visitedPages.length">
      <h3>Visited Pages</h3>
      <ul>
        <li v-for="(page, index) in visitedPages": key="index">{{ page }}</li>
      </ul>
    </div>
  </div>
</template>
<script>
  export default{
    data(){
      return{
        visitedPages:[]
      };
    },
    mounted(){
      const storedPages = JSON.parse(sessionStorage.getItem('visitedPages')) || [];
      this.visitedPages = storedPages;
    },
    methods: {
      goToPage(page){
        this.visitedPages.push(page);
        sessionStorage.setItem('visitedPages', JSON.stringfy(this.visitedPages));
        this.$router.push(`/${page.toLowerCase()}`);
      }
    }
  };
</script>